<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find conde_world)"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="world_name" value="$(find conde_world)/worlds/conde_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <env name="GAZEBO_MODEL_PATH" value="$(find conde_world)"/>

  <node 
    name="spawn_urdf" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-file $(find conde_world)/robots/conde.sdf 
      -x 2.14
      -y -0.5
      -z 0
      -R 0
      -P 0
      -Y 1.57
      -sdf 
      -model conde"/>
      
      
	<node 
		name="traffic_sign" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		args="-file $(find conde_world)/objects/traffic_sign.sdf 
		-x 0
		-y 0
		-z 0
		-R 0
		-P 0
		-Y 0
		-sdf 
		-model traffic_sign">
	</node>
	
<!--launch-prefix="glc-capture"-->
</launch>
